{%extends 'base.html' %}{%block contenido%}
<style>
  #fila {
    border-top: 2px#80c766 outset;
    border-bottom: #80c766 2px outset;
  }
  #carta{
    border-color: #80c766;
    border-width: 3px;
  }
  #link{
    color:black;
    text-decoration:none;
    font-weight: bold;
  }
  #lBorde{
    border-color:black;
  }

</style>
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 sidebar" id="slide">
      <div class="sidebar-sticky">
        <ul class="nav flex-column" id="centrar">
          {% if rol == 'alumno' %}
            <li class="nav-item" id="enlace">
              <a class="en" href="{% url 'encuesta' %}"> Encuesta de satisfacción </a>
            </li>
            <li class="nav-item" id="enlace">
              <a class="en" href="{% url 'trabajosAl' %}"> Trabajos </a>
            </li>
            <li class="nav-item" id="enlace">
              <a class="en" href="{% url 'asignaturas' %}"> Asignaturas </a>
            </li>
            <li class="nav-item" id="enlace">
              <a class="en" href="{% url 'notasAl' %}"> Boletín de notas </a>
            </li>
          {% elif rol == 'profesor' %}
            <li class="nav-item" id="enlace">
              <a class="en" href="{% url 'encuesta' %}"> Encuesta de satisfacción </a>
            </li>
            <li class="nav-item" id="enlace">
              <a class="en" href="{% url 'trabajosProf' %}"> Trabajos </a>
            </li>
            <li class="nav-item" id="enlace">
              <a class="en" href="{% url 'asignaturasProf' %}"> Asignaturas </a>
            </li>
            <li class="nav-item" id="enlace">
              <a class="en" href="{% url 'notasProf' %}"> Boletín de notas </a>
            </li>
            {% endif %}
        </ul>
      </div>
    </nav>
  </div>
</div>
<div class="container">
  <div class="card" style="width: 18rem;" id="carta">
    <ul class="list-group list-group-flush">
      {% if rol == 'alumno' %}
      <li class="list-group-item" id="lBorde"><b>Nombre: </b>{{tutor.nombre}} {{tutor.apellidos}}</li>
      <li class="list-group-item" id="lBorde"><b>Telefono: </b>{{tutor.telefono}}</li>
      <li class="list-group-item" id="lBorde"><b>Email: </b>{{tutor.email}}</li>
      <li class="list-group-item" id="lBorde"><b>Cursos: </b>{{tutor.cursos}}</li>
      {% elif rol == 'profesor' %}
      {% for a in alum %}
      <li class="list-group-item"><b>Nombre: </b>{{a.nombre}} {{a.apellidos}}</li>
      <li class="list-group-item"><b>Telefono: </b>{{a.telefono}}</li>
      <li class="list-group-item"><b>Email: </b>{{a.email}}</li>
      <li class="list-group-item"><b>Faltas: </b>{{a.faltas}}</li>
      <li class="list-group-item"><b>Retrasos: </b>{{a.retrasos}}</li>
      {% endfor %}
      {% endif %}
    </ul>
    <div class="card-body">
      <a href="{% url 'cita' %}" class="card-link" id="link">Pedir reunion</a>
    </div>
  </div>
  
</div>
</div>
{%endblock%}