{%extends 'base.html' %}{%block contenido%}
<style>
   #formulario{
    margin-left: 30px;
   }
   #bloque{
    margin-left: 160px;
    margin-top: 40px;
   }
   h3{
    margin-left: 150px;
   }
   #boton{
    margin-top: 20px;
    margin-right: 240px;
   }
   .encues:hover{
    background-color: yellow;
   }
   #izquierda{
    margin-left: 57px;
    color: #80c766;
   }
   #centro{
    margin-left: 57px;
   }
   #malo{
    color: red;
   }
   input:hover{
    border: black outset 2px;
   }
   textarea:hover{
    border: black outset 2px;
   }
   input:focus{
    border: black outset 2px;
   }
</style>
<div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 sidebar" id="slide">
        <div class="sidebar-sticky">
          <ul class="nav flex-column" id="centrar">
            {% if rol == 'alumno' %}
            <li class="nav-item" id="enlace">
              <a class="en" href="{% url 'encuesta' %}"> Encuesta de satisfacción </a>
            </li>
            <li class="nav-item" id="enlace">
              <a class="en" href="{% url 'trabajosAl' %}"> Trabajos </a>
            </li>
            <li class="nav-item" id="enlace">
              <a class="en" href="{% url 'asignaturas' %}"> Asignaturas </a>
            </li>
            <li class="nav-item" id="enlace">
              <a class="en" href="{% url 'notasAl' %}"> Boletín de notas </a>
            </li>
          {% elif rol == 'profesor' %}
            <li class="nav-item" id="enlace">
              <a class="en" href="{% url 'encuesta' %}"> Encuesta de satisfacción </a>
            </li>
            <li class="nav-item" id="enlace">
              <a class="en" href="{% url 'trabajosProf' %}"> Trabajos </a>
            </li>
            <li class="nav-item" id="enlace">
              <a class="en" href="{% url 'asignaturasProf' %}"> Asignaturas </a>
            </li>
            <li class="nav-item" id="enlace">
              <a class="en" href="{% url 'notasProf' %}"> Boletín de notas </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </div>
  </div>
<div class="container">
    <div class="row">
        <div class="col-md-12" id="bloque">
            <div class="well well-sm">
              <div class="alert alert-success" role="alert" style="width: 11rem; margin-left: 165px; margin-top:20px;">
                Tu opinión cuenta
              </div>
                <form class="form-horizontal" method="post" id="formulario">
                  {% csrf_token %}
                    <fieldset>
                        <legend class="text-center header"></legend>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span>
                            <div class="col-md-8">
                                <input id="fname" name="name" type="text" placeholder="Nombre" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span>
                            <div class="col-md-8">
                                <input id="lname" name="name" type="text" placeholder="Apellidos" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></i></span>
                            <div class="col-md-8">
                                <input id="email" name="email" type="text" placeholder="Correo electrónico" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                          <div class="col-md-8">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-down-fill" id="malo" viewBox="0 0 16 16">
                              <path d="M6.956 14.534c.065.936.952 1.659 1.908 1.42l.261-.065a1.38 1.38 0 0 0 1.012-.965c.22-.816.533-2.512.062-4.51q.205.03.443.051c.713.065 1.669.071 2.516-.211.518-.173.994-.68 1.2-1.272a1.9 1.9 0 0 0-.234-1.734c.058-.118.103-.242.138-.362.077-.27.113-.568.113-.856 0-.29-.036-.586-.113-.857a2 2 0 0 0-.16-.403c.169-.387.107-.82-.003-1.149a3.2 3.2 0 0 0-.488-.9c.054-.153.076-.313.076-.465a1.86 1.86 0 0 0-.253-.912C13.1.757 12.437.28 11.5.28H8c-.605 0-1.07.08-1.466.217a4.8 4.8 0 0 0-.97.485l-.048.029c-.504.308-.999.61-2.068.723C2.682 1.815 2 2.434 2 3.279v4c0 .851.685 1.433 1.357 1.616.849.232 1.574.787 2.132 1.41.56.626.914 1.28 1.039 1.638.199.575.356 1.54.428 2.591"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-right" id="centro" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5m14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-up-fill" id="izquierda" viewBox="0 0 16 16">
                              <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a10 10 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733q.086.18.138.363c.077.27.113.567.113.856s-.036.586-.113.856c-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.2 3.2 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.8 4.8 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
                            </svg>
                          </div> 
                          <div class="col-md-8">
                          <input type="radio" id="1" name="encuesta" value="1"  />
                          <input type="radio" id="2" name="encuesta" value="2"  />
                          <input type="radio" id="3" name="encuesta" value="3"  />
                          <input type="radio" id="4" name="encuesta" value="4"  />
                          <input type="radio" id="5" name="encuesta" value="5"  />
                          <input type="radio" id="6" name="encuesta" value="6"  />
                          <input type="radio" id="7" name="encuesta" value="7"  />
                          <input type="radio" id="8" name="encuesta" value="8"  />
                          <input type="radio" id="9" name="encuesta" value="9"  />
                          <input type="radio" id="10" name="encuesta" value="10"  />
                          </div>

                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></i></span>
                            <div class="col-md-8">
                                <textarea class="form-control" id="message" name="message" placeholder="Escribe una propuesta de mejora para la aplicación" rows="7"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-dark btn-lg" id="boton">Enviar</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{%endblock%}
