{%extends 'home.html' %}{%block contenido%}

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#"> Encuestas </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> Trabajos </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> Asignaturas </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> Boletín de notas </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <ul class="list-group center-list">
          <li>{{sesion}}</li>
          <li class="list-group-item">Ultimas notas</li>
          <li class="list-group-item">Ultimos trabajos</li>
          <li class="list-group-item">Incidencias</li>
          <li class="list-group-item">Anotaciones</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar_right">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#"> Calendario </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> Tutor </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> Comunicados </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <footer>
    <div class="container">
      <span>Derechos de autor &copy; 2024 - Plazeduca</span>
    </div>
  </footer>
</div>
{%endblock%}
