{%extends 'base.html' %}{%block contenido%}
{% load static %}
<style>
  #fila {
    border-top: 2px#80c766 outset;
    border-bottom: #80c766 2px outset;
  }
  #carta{
    border-color: #80c766;
    border-width: 3px;
  }
  #link{
    color:black;
    text-decoration:none;
    font-weight: bold;
  }
  #lBorde{
    border-color:black;
  }
  .label{
    background-color: #343A40;color: whitesmoke;
    width: 100px; 
    height: 40px; 
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 2px;
    margin-top: -38px;
  }
#foto{
  margin-top: 30px;
}
  .label:hover{
    background-color: black;
  }
  

</style>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 sidebar" id="slide">
      <div class="sidebar-sticky">
        <ul class="nav flex-column" id="centrar">
          {% if rol == 'alumno' %}
            <li class="nav-item" id="enlace">
              <a class="en" href="{% url 'encuesta' %}"> Encuesta de satisfacción </a>
            </li>
            <li class="nav-item" id="enlace">
              <a class="en" href="{% url 'trabajosAl' %}"> Trabajos </a>
            </li>
            <li class="nav-item" id="enlace">
              <a class="en" href="{% url 'asignaturas' %}"> Asignaturas </a>
            </li>
            <li class="nav-item" id="enlace">
              <a class="en" href="{% url 'notasAl' %}"> Boletín de notas </a>
            </li>
          {% elif rol == 'profesor' %}
            <li class="nav-item" id="enlace">
              <a class="en" href="{% url 'encuesta' %}"> Encuesta de satisfacción </a>
            </li>
            <li class="nav-item" id="enlace">
              <a class="en" href="{% url 'trabajosProf' %}"> Trabajos </a>
            </li>
            <li class="nav-item" id="enlace">
              <a class="en" href="{% url 'asignaturasProf' %}"> Asignaturas </a>
            </li>
            <li class="nav-item" id="enlace">
              <a class="en" href="{% url 'notasProf' %}"> Boletín de notas </a>
            </li>
            {% endif %}
        </ul>
      </div>
    </nav>
  </div>
</div>

<div class="container">
  {% if rol == 'alumno' %}
  <div class="card text-center" style="width: 18rem;">
    
    <div class="card-body">
      <img  alt="Card image cap" src="{% static 'image/perfil.png' %}" id="imgLogo" class="rounded-circle" style="width: 200px;height: 200px;">
    <input type="file" class="custom-file-input" id="foto" name="foto">
    <label class="label">Cambiar foto</label>
      <h5 class="card-title"></b>{{tutor.nombre}} {{tutor.apellidos}}</h5>
      <p class="card-text"><b>Telefono: </b>{{tutor.telefono}}</p>
      <p class="card-text"><b>Email: </b>{{tutor.email}}</p>
      <p class="card-text"><b>Cursos: </b>{{tutor.cursos}}</p>
      <a href="{% url 'cita' %}" class="btn btn-dark">Pedir reunion</a>
      
    </div>
  </div>
  <div class="card" style="width: 18rem;" id="carta">
    <ul class="list-group list-group-flush">
      
      <li class="list-group-item" id="lBorde"><b>Nombre: </li>
      <li class="list-group-item" id="lBorde"></li>
      <li class="list-group-item" id="lBorde"></li>
      <li class="list-group-item" id="lBorde"></li>
      {% elif rol == 'profesor' %}
      {% for a in alum %}
      <li class="list-group-item"><b>Nombre: </b>{{a.nombre}} {{a.apellidos}}</li>
      <li class="list-group-item"><b>Telefono: </b>{{a.telefono}}</li>
      <li class="list-group-item"><b>Email: </b>{{a.email}}</li>
      <li class="list-group-item"><b>Faltas: </b>{{a.faltas}}</li>
      <li class="list-group-item"><b>Retrasos: </b>{{a.retrasos}}</li>
      {% endfor %}
      {% endif %}
    </ul>

  </div>
  
</div>
</div>
<script>
  const file = document.getElementById('foto');
  const img = document.getElementById('imgLogo');
  file.addEventListener('change', e =>{
    if(e.target.files[0]){
      const reader = new FileReader();
      reader.onload = function(e){
        img.src = e.target.result;
      }
      reader.readAsDataURL(e.target.files[0])
    }else{
      img.src = defaultFile;
    }
  });
</script>
{%endblock%}