<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <title></title>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <!-- Para adaptar a los dispositivos móviles -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
   
    <!-- JavaScript de Bootstrap -->
    <script src="{% static 'bootstrap4/js/bootstrap.min.js' %}"></script>
    <!-- CSS de Bootstrap -->
    <link
      href="{% static 'bootstrap4/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />

    <style>
      /* Estilos personalizados */
     
    </style>
  </head>
  <body>
    
    
    <div class="contenido">
     {%block contenido %}{%endblock%}
    </div>
   
  </body>
</html>
